#rate{
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    border: 1px solid;
    overflow:scroll;
}
.rate-days{
    padding: 15px 20px;
}
.rate-days-title{
    border-bottom: 5px solid #000;
    text-transform: uppercase;
    font-family: 'Jua';
    font-size: 2rem;
    
}
.rate-days-description{
    /* display: none; */
}