*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,'Bodoni Moda', 'Gauon Dodum', 'Jua','Forum', serif;
    /* border: var(--border-basic); */
    /* border-radius: var(--border-basic-radius); */
}

input[type="radio"]{
    /* display: none; */
}
a{
    text-decoration: none;
    color: #000;
}
html{
    width: 100vw;height: 100vh;
}
body{
    width: 100%;height: 100%;
    background-color: var(--bg-clr-main);
    padding: .8em .5em;
    text-align: center;
}
.main{
    width: 100%;height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}
#main-s1{
    padding-top: 10px;
    margin-bottom: 20px;
}
#main-s1,
#main-s1-where,
#main-s1-where >p{
    width: 100%;
    display: block;
}
#main-s1-howlong,
#main-s1-thistime{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}
#main-s1-where{
    border-top: 1px solid #000;
    border-bottom: 5px solid #000;
}
#main-s1-where p:nth-child(1){
    font-family: serif;
    font-size: 6.5rem;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1.2rem;
}
#main-s1-where p:nth-last-child(1){
    font-family: 'Forum';
    font-size: 4rem;
    text-align: right;
    font-weight:lighter;
    position: relative;
    top: -8px;
    letter-spacing: .6rem;
}
/* 메인폰트 미쿼리 사이즈 */
@media screen and (max-width: 380px) {
    #main-s1-where p:nth-child(1){
        font-size: 5rem;
        text-align: center;
        letter-spacing: 0rem;
    }
    #main-s1-where p:nth-last-child(1){
        font-size: 3rem;
        text-align: center;
        letter-spacing: .5rem;
    }
}
#main-s1-thistime{
    font-size: 1.15rem;
}
#main-s1-thistime span:nth-child(2){
    text-indent: 1em;
}


/*  */
#main-s2{
    width: 100%;
    height: 100%;
    margin-bottom:10px;
    /* padding: 0 5px; */
}
#main-s2-boxing{
    height: 100%;
    padding: 15px 20px;
    border: 1px solid #000;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-s2-header{
    margin-bottom: 10px;
}
#main-s2-header span{
    margin-bottom: 10px;
    font-family: 'Jua';
    font-size: 1.5rem;
}
#main-s2-footer{
    font-size: .5rem;
}

/*  */
/* #main-s1,
#main-s2,
#main-s3{
    border: 1px solid #000;
} */
#main-s3{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
#main-s3-boxing{
    display: block;
    width: 100%;
}
/*#main-s3-x{
    width: 100%;
    margin-bottom: 10px;
} */
#main-s3-menus{
    display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
#main-s3-menus section{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2%;
}
.main-s3-menus-items{
    width: 100%;
    border: 1px solid #000;
    border-radius: 25px;
    /* padding: 10px 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Forum';
    font-size: 1.2rem;
    font-weight: bold;
}
.main-s3-menus-items:hover{
    background-color: #000;
    color: #ffffff;
    font-weight:normal;
    cursor: pointer;
}

#name{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: centers;
}
#name-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Forum';
    font-size: 1.2rem;
    font-weight: bold;
}
#names{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'jua';
    font-size: 1.2rem;
}
.name:hover{
    background-color: #000;
    color: #ffffff;
    font-weight:normal;
    cursor: pointer;
}
/*  */
.dp-none{
    display: none;
}