
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gauon Dodum', 'Jua','Forum', serif,sans-serif,'Bodoni Moda',
}

html{
    width: 100vw;height: 100vh;
}
body{
    width: 100%;height: 100%;
}

input,
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto; 
    line-height: normal; 
    padding: .8em .5em;
    outline: none;
    border: none;
    background-color: #ffffff00;
}
/* .screen{
    width: 100%;
    height: 100%;
    padding:.8em .5em;
    font-family: 'Gauon Dodum', 'Jua';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .8em .5em;
} */
.chat{
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    padding: 2.5em .5em .5em .5em;
    border-radius: 50px;
}
.type{
    width: 100%;
    height: 90px;
    /* position: fixed; */
    bottom: 0;
    padding: 1em;
    border-top: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.603);
}


#type-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5em;
    /* border: 1px solid #000;
    border-radius: 50px; */
}
#type-input{
    width: 100%;
    font-size: 1.2em;
    font-family: 'Gauon Dodum', 'Jua';
}
#type-input::placeholder{
    font-size: .8em;
}

.chats{
    /* background-color: rgb(163, 131, 131); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    overflow: scroll;
    padding: 1em;
}
#chats{
    /* background-color: yellow; */

    width: 100%;
    display: block;
    align-items: flex-end;
    flex-direction: column;
}
#single-chat{
    /* background-color:chartreuse ; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
.chat-name,
.chat-time{
    font-family: 'Jua';
    font-size: 10px;
    color: rgb(110, 110, 110);
}
.chat-text{
    background: #fff;
    font-size: 20px;
    margin: 0 5px 0 0;
    font-family: 'Jua';
    display: flex;
    justify-content: space-between;
}
.delete-btn{
    margin: 0 10px;
}