*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,'Bodoni Moda', 'Gauon Dodum', 'Jua','Forum', serif;
}
input,
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto; 
    line-height: normal; 
    padding: .8em .5em;
    outline: none;
    border: none;
    background-color: #ffffff00;
}
a{
    text-decoration: none;
    color: #000;
}
html{
    width: 100vw;height: 100vh;
}
body{
    width: 100%;height: 100%;
    background-color: var(--bg-clr-main);
    padding: .8em .5em;
    text-align: center;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 10px;
}
header{
    padding-top: 10px;
    margin-bottom: 20px;
}

#header,
#title,
#title >p{
    width: 100%;
    display: block;
}
#title{
    border-top: 1px solid #000;
    border-bottom: 5px solid #000;
}
#title p:nth-child(1){
    font-family: serif;
    font-size: 4.5rem;
    text-align: left;
    font-weight: bold;
}
#title p:nth-last-child(1){
    font-family: 'Forum';
    font-size: 4rem;
    text-align: right;
    font-weight:lighter;
    position: relative;
    top: -8px;
    letter-spacing: .6rem;
}
/* 메인폰트 미쿼리 사이즈 */
@media screen and (max-width: 380px) {
    #title p:nth-child(1){
        font-size: 5rem;
        text-align: center;
        letter-spacing: 0rem;
    }
    #title p:nth-last-child(1){
        font-size: 3rem;
        text-align: center;
        letter-spacing: .5rem;
    }
}


/*  */
.rate-boxes-container{
    width: 100%;
    margin-bottom:10px;
}
.rate-box{
    height: 100%;
    padding: 15px 20px;
    border: 1px solid #000;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.rate-header{
    margin-bottom: 10px;
}
.rate-header span{
    margin-bottom: 10px;
    font-family: 'Jua';
    font-size: 1.5rem;
}
.rate-printview{
    width: 100%;
    margin-bottom: 10px;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 50px;
}

.type{
    width: 100%;
    /* padding: 0.5em; */
    border: 1px solid #000;
    border-radius: 50px;
}
#type-form{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid #000;
    border-radius: 50px; */
}
#type-input{
    width: 100%;
    font-size: 1.2em;
    font-family: 'Gauon Dodum', 'Jua';
}
#type-input::placeholder{
    font-size: .8em;
}








/*  */
.dp-none{
    display: none;
}